<main class="blog-boi blog index text-center">
	
	<%= render 'index_header' %>

	<div class="container mt-4">
		
		<div class="row">

			<% if is_admin? %>

				<div class="col-12 mt-4">
					<%= link_to 'New Article', new_article_path, class: 'btn btn-primary rounded' %>
				</div>

			<% end %>
			
			<%= render @articles %>

			<% if is_admin? %>

				<h1 class="text-center col-12 mt-5">Hidden articles:</h1>

				<% @articles_hidden && @articles_hidden.each do |article_hidden| %>

					<%= render 'article', article: article_hidden %>

				<% end %>

			<% end %>
			
		</div>

	</div>

	
</main>

