@import 'blog_boi/blog_boi';
@import 'blog_boi/_blog';
@import 'blog_boi/_header';
@import 'blog_boi/_footer';

[class^="btn"] {
	padding: 8px;
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

.lead {
	font-size: 18px;
}

.mb-neg-md-125-sm-50 {
	margin-bottom: -125px;
}

.mt-md-125-sm-50 {
	margin-top: 125px;
}

.font-16px {
	font-size: 16px !important;
}

@media (max-width: 768px) { 

	.border-top-sm-only {
		border-top: 1px solid white;	
	}

	.lead {
		font-size: 16px;
	}

	.mb-neg-md-125-sm-50 {
		margin-bottom: -50px;
	}

	.mt-md-125-sm-50 {
		margin-top: 50px;
	}
	
}
