<footer class="blog-boi-blog">

	<div class="bg-dark text-white">

		<div class="container">

			<div class="row">
				
				<div class="col-12 py-3 text-center">
					
					<div>© <%= company_name %> <%= Time.current.year %></div>

				</div>

			</div>

		</div>
	
	</div>

</footer>
